// COLORS
$cl-background: #6499CE;
$cl-light: #ffffff;
$cl-light02: rgba(#f1f1f2,.33);
$cl-light03: rgba(#f1f1f2,.8);
$cl-primary: #166BA0;
$cl-secondary: #2980B9;
$cl-tertiary: #16A085;
$cl-dark01: #23313E;
$cl-dark02: #2C3E50;
$cl-dark03: #34495E;
$cl-dark04: #101f27;
$cl-grey: rgba(#F1F1F2, .92);
$cl-grey02: rgba(#BDC3C7,.92);
$cl-grey-line:rgba( #7F8C8D, .8);