.btn {
	padding: $sp-intermediate $sp-small;
	font-size: $fs-normal;
	font-weight: $fw-bold;
	box-shadow: 0 3px 6px rgba(0,0,0,.1);
	cursor: pointer;
	border: none;
	border-radius: 2px;
	transition: .2s;

	&:hover {
		box-shadow: 0 4px 8px rgba(0,0,0,.12);
	}
}

.btn-primary {
	@extend .btn;
	background-color: $cl-secondary;
	color: $cl-light;
}