.chat {
	&__header {
		height: 8rem;
		width: 100%;
		background-color: $cl-dark01;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__header-text {
		font-size: $fs-large;
		font-weight: $fw-bold;
		line-height: 20px;
		color: $cl-grey;
	}

	&__content {
		background-color: $cl-dark03;
		flex-grow: 1;
		height: calc(100vh - 16rem);
		padding: $sp-small $sp-xlarge $sp-xlarge;
		overflow-y: scroll;
		&::-webkit-scrollbar {
			width: $sp-small;
		}

		&::-webkit-scrollbar-track {
			background: $cl-dark01;
		}

		&::-webkit-scrollbar-thumb {
			background: $cl-tertiary;
		}
	}

	&__footer {
		position: absolute;
		bottom: 0;
		height: 8rem;
		width: 100%;
		background-color: $cl-dark01;
		margin-top: auto;
		padding: $sp-intermediate $sp-xlarge;
	}

	&__form {
		width: 100%;
		height: 100%;
		box-sizing: border-box;
	}

	&__input {
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		border-radius: $sp-xlarge;
		border: none;
		background-color: $cl-light02;
		padding: $sp-small $sp-large;

		font-size: $fs-normal;
		font-weight: $fw-medium;
		color: $cl-dark01;
		transition: 0.1s;

		&::-webkit-input-placeholder {
			font-size: $fs-normal;
			font-weight: $fw-regular;
			color: $cl-grey02;
		}

		&:focus {
			background-color: $cl-light03;
			outline: none;
		}
		&:focus::-webkit-input-placeholder {
			color: $cl-dark01;
		}
	}
}
