.message {
	&__row {
		margin-bottom: $sp-large;
	}

	&__row--right {
		@extend .message__row;
	}

	&__container {
		display: block;
		max-width: 50%;
		width: 100%;
		min-width: 375px;
		background-color: $cl-tertiary;
		padding: $sp-normal;
		border-radius: $sp-intermediate;
	}

	&__row--right &__container {
		background-color: $cl-primary;
		margin-left: auto;
	}

	&__header {
		font-size: $fs-small;
		font-weight: $fw-bold;
		line-height: 20px;
		color: rgba($cl-light03, .6);
		margin-bottom: $sp-small;
	}
	&__content {
		font-size: $fs-normal;
		font-weight: $fw-regular;
		line-height: 20px;
		color: $cl-light03;
	}
}