.user {
	&__main-row {
		background-color: $cl-dark01;
		position: sticky;
		top: 0;
	}
	&__list {
		height: calc(100vh - 8rem);
		overflow-y: scroll;

		&::-webkit-scrollbar {
			width: $sp-xsmall;
		}
		
		&::-webkit-scrollbar-track {
			background: $cl-dark01; 
		}
		
		&::-webkit-scrollbar-thumb {
			background: $cl-tertiary; 
		}

	}

	&__list-short {
		@extend .user__list;
		height: calc(100vh - 16rem);
		overflow-y: scroll;
	}
	&__row {
		transition: .1s;
		background-color: $cl-dark02;
		&:hover {
			background-color: rgba($cl-dark01, .5);
		}
	}
	&__row-item {
		width: 100%;
		height: 100%;
		padding: 0;
		background-color: transparent;
		border: none;
		display: flex;
		cursor: pointer;
	}
	&__picture-container {
		height: 8rem;
		width: 8rem;
		background-color: transparent;
		padding: 1.6rem;
	}
	&__main-row &__picture-container {
		border-bottom: 1px solid $cl-grey-line;
	}
	&__picture-circle {
		height: 48px;
		width: 48px;
		border-radius: 48px;
		border: none;
		overflow: hidden;
	}
	&__picture {
		height:  48px;
		width: 48px;
		object-fit: cover;
	}
	&__text-section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		height: 8rem;
		padding-right: 48px;
		overflow: hidden;
		border-bottom: 1px solid $cl-grey-line;
	}
	&__name {
		font-size: $fs-normal;
		color: $cl-grey;
		text-align: left;
		line-height: 20px;
	}
	&__info {
		text-align: left;
		font-size: $fs-small;
		color: $cl-grey02;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 100%;
		line-height: 20px;
	}
}