.u-block-flex {
	display: flex;
	flex-direction: row;

	&--v {
		display: flex;
		flex-direction: column;
	}
}

.u-block-center-items {
	justify-content: center;
	align-items: center;
}

.u-border-bottom {
	border-bottom: 1px solid $cl-grey-line;
}

.u-border-top {
	border-top: 1px solid $cl-grey-line;
}

.u-border-left {
	border-left: 1px solid $cl-grey-line;
}

.u-border-right {
	border-right: 1px solid $cl-grey-line;
}

.u-border {
	border: 1px solid $cl-grey-line;
}